# Node.js
node_modules/
npm-debug.log
.npm

# Environnement — JAMAIS sur GitHub
.env
.env.local
.env.production

# Visual Studio
.vs/
*.user
*.suo

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs
logs/
*.log

# Base de données
*.sql
*.dump

# Build
dist/
build/