# Node.js
node_modules/
npm-debug.log
.npm

# Environnement
.env
.env.local
.env.production

# Visual Studio
.vs/
*.user
*.suo

# Windows
Thumbs.db
Desktop.ini

# Logs
logs/
*.log

# Build
dist/
build/